@import "tailwindcss";

@layer utilities {
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .font-clash {
    font-family: var(--font-clash);
  }

  .font-thin-custom {
    font-weight: 100;
  }

  .font-public {
    font-family: var(--font-public);
  }

  .gradiente-primary {
    background-image: linear-gradient(
      90deg,
      #f8a55f 0%,
      #e43345 50%,
      #cb4cc4 100%
    );
  }

  .blur-super {
    filter: blur(120px);
  }

  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }
}
