@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&family=Clash+Display:wght@400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --font-title: "Clash Display", sans-serif;
  --font-subtitle: "Public Sans", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.font-title {
  font-family: var(--font-title);
}

.font-subtitle {
  font-family: var(--font-subtitle);
}
